.main
  = render 'shared/side_bar'
  .chat-main
    .chat-main__header
      .chat-main__header--group
        %p.chat-main__header--group__name "#{@group.name}"
        =link_to edit_group_path(@group) do
          %p.chat-main__header--group__edit-btn edit
        %p.chat-main__header--group__member
          Members:
          - @users.each do |user|
            = user.name
    .chat-main__body
      = render @chats
      .chat-main__body--bottum
    .chat-main__footer
      .chat-main__footer--form
        .chat-main__footer--form__body
          = form_for [@group, @chat] ,  html: {id: 'new_chat', class: 'form'}do |f|
            = f.text_field :content, class:'chat-main__footer--form__body--message',placeholder: "type a message"
            .form__mask
              =f.label :image,class:'chat-main__footer--form__body--chat-file' do
                = fa_icon 'picture-o', class: 'far fa-image'
                =f.file_field :image,class:'chat-main__footer--form__body--chat-file__filelabel'
            = f.submit 'Send', class:'chat-main__footer--form__body--submit'
