.main
  = render 'shared/side_bar'
  .chat-main
    .chat-main__header
      .chat-main__header--group
        %p.chat-main__header--group__name Sampleグループ
        =link_to "" do
          %p.chat-main__header--group__edit-btn edit
        %p.chat-main__header--group__member Members: seo Neko
    .chat-main__body
      = render partial: 'chats/chat'
      = render partial: 'chats/chat'
    .chat-main__footer
      %form.chat-main__footer--form
        .chat-main__footer--form__body
          = form_for [@group,@chat] do |f|
            = f.text_field :content, class:'chat-main__footer--form__body--message',placeholder: "type a message"
            .form__mask
              =f.label :image,class:'chat-main__footer--form__body--chat-file' do
                = fa_icon 'picture-o', class: 'far fa-image'
                =f.file_field :image,class:'chat-main__footer--form__body--chat-file__filelabel'
            = f.submit 'Send', class: 'chat-main__footer--form__body--submit'
